.container {
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.head {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headcenter {


}

.headend {
  

}

.logo {
    font-family: "Gabriola";
    font-size: 40px;
    font-weight: 400;
    color: #fff;
}
.loginbutton {
    background-color: rgb(46, 2, 99);
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    border-radius: 10px;
    border:1px solid rgb(21, 13, 54);
}
.loginbutton:hover {
border:2px solid rgb(127, 126, 133);
}


.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    text-align: center;
    height: 200px;
    width: 200px;
    padding-top: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
        0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
        0 0 16px hsl(0deg 0% 0% / 0.075);
    transform-origin: 10% 60%;
}